@font-face{
    font-family: "IranNastaliq";
  src: url(../فایل/font/IranNastaliq.ttf);
}
@font-face{
    font-family: "IRANSansWeb";
  src: url(../فایل/font/IRANSansWeb.ttf);
}
@font-face{
    font-family: "IRANSansWeb_Bold";
  src: url(../فایل/font/IRANSansWeb_Bold.ttf);
}
@font-face{
    font-family: "IRANSansWeb_Light";
  src: url(../فایل/font/IRANSansWeb_Light.ttf);
}